*{
    margin: 0;
    padding: 0;
    background-color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
#titulo{
    font-size: 45px;
    padding: 15px;
}
.subtitulos{
    color: rgb(255,0,0);
    margin: 15px;
    font-size: 30px;
}
#contenedor{
    text-align: center;
    
}
.image{
    margin-bottom: 55px;
}